In [3]:
#import dependencies
import pandas as pd

In [4]:
#read in data file and make into a dataframe
purchase_df = pd.read_csv("../Resources/purchase_data.csv")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
# Top Spenders
spender_purchase_ct = []
spender_purchase_avg = []
spender_purchase_tot = []
SN = []
#groupby SN and sum the price column
tot_spend = purchase_df.groupby("SN")["Price"].sum()
#sort the data  from greatest spending to least
top_spend = tot_spend.sort_values(ascending=False)

for x in range(len(top_spend)):
    spender_df = purchase_df.loc[purchase_df["SN"] == top_spend.index[x], :]
    purchase_count = spender_df["Purchase ID"].count()
    spender_purchase_ct.append(purchase_count)
    spender_avg = spender_df["Price"].mean()
    spender_purchase_avg.append(spender_avg)
    spender_tot = top_spend[x]
    spender_purchase_tot.append(spender_tot)
    spender_name = top_spend.index[x]
    SN.append(spender_name)
    
spender_purchase_ct = pd.Series(spender_purchase_ct)
spender_purchase_ct = spender_purchase_ct.rename("Purchase Count")
spender_purchase_avg = pd.Series(spender_purchase_avg)
spender_purchase_avg = spender_purchase_avg.rename("Average Purchase Price")
spender_purchase_tot = pd.Series(spender_purchase_tot)
spender_purchase_tot = spender_purchase_tot.rename("Total Purchase Value")
SN = pd.Series(SN)
SN = SN.rename("SN")
top_spend_df =pd.concat([SN,spender_purchase_ct,spender_purchase_avg,spender_purchase_tot], axis = 1)
top_spend_df['Average Purchase Price'] = top_spend_df['Average Purchase Price'].map('${:,.2f}'.format)
top_spend_df['Total Purchase Value'] = top_spend_df['Total Purchase Value'].map('${:,.2f}'.format)
#reset index to names column
top_spend_df.set_index('SN').head()

In [17]:
Items_ID = []
Names_items = []
Top_item_ct = []
Top_item_avg = []
Top_item_tot = []
#groupby Item ID and Item Name, the  count the Purchase ID rows
pop_item = purchase_df.groupby(["Item ID","Item Name"])["Purchase ID"].count()
#sort the data to have highest count to smaller count
pop_item_sorted = pop_item.sort_values(ascending=False)

for x in range(5):
    pop_item = pd.Series(pop_item_sorted.index[x])
    item_name = pop_item[1]
    Names_items.append(item_name)
    item_ID = pop_item[0]
    Items_ID.append(item_ID)
    item_df = purchase_df.loc[purchase_df["Item Name"] == pop_item[1], :]
    item_count = item_df["Purchase ID"].count()
    Top_item_ct.append(item_count)
    item_avg = item_df["Price"].mean() 
    Top_item_avg.append(item_avg)
    item_tot = item_df["Price"].sum() 
    Top_item_tot.append(item_tot)

Items_ID = pd.Series(Items_ID)
Items_ID = Items_ID.rename("Item ID")
Names_items= pd.Series(Names_items)
Names_items = Names_items.rename("Item Name")
Top_item_ct = pd.Series(Top_item_ct)
Top_item_ct = Top_item_ct.rename("Purchase Count")
Top_item_avg = pd.Series(Top_item_avg)
Top_item_avg = Top_item_avg.rename("Item Price")
Top_item_tot = pd.Series(Top_item_tot)
Top_item_tot = Top_item_tot.rename("Total Purchase Value")
top_item_df = pd.concat([Items_ID, Names_items,Top_item_ct,Top_item_avg,Top_item_tot], axis = 1)
#Format the price columns
top_item_df['Item Price'] = top_item_df['Item Price'].map('${:,.2f}'.format)
top_item_df['Total Purchase Value'] = top_item_df['Total Purchase Value'].map('${:,.2f}'.format)
#Use Item ID and Item Name as indices
top_item_df.set_index(["Item ID", "Item Name"])

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99
82,Nirvana,9,$4.90,$44.10